body {
  font-family: "Sora", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.MuiButtonBase-root.MuiListItemButton-root.MuiListItemButton-root.active
  svg
  path {
  fill: #fe6b01;
}
